use_cdn: false
navbar:
  menu:
    - name: Docs
      icon: fad fa-book faa-tada
      url: /getting-started/
      target: _self

    - name: Example
      icon: fad fa-play-circle faa-tada
      url: examples/

    - name: Help
      icon: fad fa-question-circle faa-tada
      url: faqs/

    - name: Community
      icon: fad fa-fan fa-spin
      url: contributors/

    - name: Box
      icon: fad fa-cog
      rows:
        - name: Dark mode
          icon: fas fa-moon
          toggle: darkmode
        - name: Music
          icon: fad fa-compact-disc fa-spin
    - name: More
      icon: fad fa-ellipsis-v
      rows:
        - name: Site source code
          url: https://github.com/volantis-x/volantis-x.github.io
        - name: Theme source code
          url: https://github.com/volantis-x/hexo-theme-volantis/
        - name: hr
        - name: Update log
          url: https://github.com/volantis-x/hexo-theme-volantis/releases/
        - name: Blog post
          url: archives/
        - name: hr
        - name: Latest doc v4
          url: /v4/getting-started/
        - name: Legacy doc v3
          url: /v3/getting-started/
        - name: Legacy doc v2
          url: /v2/getting-started/



cover:
  # height_scheme: full # full, half
  layout_scheme: search # blank (留白), search (搜索), dock (坞), featured (精选), focus (焦点)
  title: 'Volantis'
  subtitle: 'Test Site For Development'
  background: 'https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/003.jpg'
  features:
    - name: Blogs
      img: https://cdn.jsdelivr.net/gh/twitter/twemoji@13.0/assets/svg/1f4f0.svg
      url: /
    - name: Docs
      img: https://cdn.jsdelivr.net/gh/twitter/twemoji@13.0/assets/svg/1f516.svg
      url: /getting-started/
      target: _self
    - name: Example
      img: https://cdn.jsdelivr.net/gh/twitter/twemoji@13.0/assets/svg/1f396.svg
      url: /examples/
    - name: Help
      img: https://cdn.jsdelivr.net/gh/twitter/twemoji@13.0/assets/svg/1f4ac.svg
      url: faqs/
    - name: Community
      img: https://cdn.jsdelivr.net/gh/twitter/twemoji@13.0/assets/svg/1f9e9.svg
      url: /contributors/


article:
  preview:
    scheme: landscape # landscape
    # pin icon for post
    pin_icon: # https://cdn.jsdelivr.net/gh/twitter/twemoji@13.0/assets/svg/1f4cc.svg
    # auto generate title if not exist
    auto_title: false # false, true
    # auto generate excerpt if not exist
    auto_excerpt: false # false, true
    author: true
    # show readmore button
    readmore: auto # auto, always
  body:
    footer_widget:
      references:
        title: Reference
        icon: fas fa-quote-left
      related_posts:
        enable: false
        title: related articles
        icon: fas fa-bookmark
        max_count: 5
        placeholder_img: data:image/png;base64,666
      copyright:
        enable: true
        permalink: 'The permanent link to this article is:'
        content:
          - 'The content of the blog follows the attribution-non-commercial use-share in the same way 4.0 International (CC BY-NC-SA 4.0) agreement'
          - permalink
    meta_library:
      author:
        avatar: https://cdn.jsdelivr.net/gh/volantis-x/cdn-org/blog/favicon/apple-touch-icon.png
        name: Volantis Team
        url: https://github.com/volantis-x/
      date:
        icon: fas fa-calendar-alt
        title: 'posted on:'
        format: 'll'
      updated:
        title: 'The document on this page was last updated at:'
      counter:
        icon: fas fa-eye
        unit: 'views'

comments:
  title: <i class='fas fa-comments'></i> User Exchange Area
  subtitle: This is only for communication between users. If you have any questions, please go to GitHub to submit an issue. Asking questions in the comment area will not receive any response from the developer!
  service: utterances
  disqus:
    shortname: volantis
    path: /
  valine:
    appId: FIKAgh6n0pUM08JXxhJHChVQ-MdYXbMMI
    appKey: RJGiOYFc1fBvfox4frBPpRzU
    path: /
  utterances:
    repo: xaoxuu/utteranc

sidebar:
  position: left # left right
  for_page: [post, category, tagcloud]
  for_post: [toc]
  widget_library:
    toc:
      class: toc
      display: [desktop, mobile] # [desktop, mobile]
      header:
        icon: fas fa-list
        title: Table of Contents
      list_number: false
      min_depth: 2
      max_depth: 5
    post:
      class: text
      display: [desktop, mobile] # [desktop, mobile]
      header:
        icon: fas fa-plus
        title: Community Activity
        url: /contributors/
      content:
        - '**How to get your articles included here?**<br>The official website is open source. As long as your article is related to the Hexo blog construction, you can self-index it. For detailed steps, please see:「[**Publish and share articles**](/contributors/#发布与分享文章)」。'
    # Document Navigation
    guide:
      class: grid
      display: [desktop, mobile] # [desktop, mobile]
      header:
        icon: fas fa-map-signs
        title: Category Navigation
      fixed: true # fixed width
      rows:
        - name: FAQ
          icon: fas fa-question-circle
          url: faqs/
        - name: sample blog
          icon: fas fa-play-circle
          url: examples/
        - name: special thanks
          icon: fas fa-handshake
          url: contributors/
        - name: test blog post
          icon: fas fa-file-alt
          url: archives/
        - name: theme source code
          icon: fas fa-file-code
          url: https://github.com/volantis-x/hexo-theme-volantis/
          rel: external nofollow noopener noreferrer
          target: _blank
        - name: update log
          icon: fas fa-tags
          url: https://github.com/volantis-x/hexo-theme-volantis/releases/
          rel: external nofollow noopener noreferrer
          target: _blank

    docs-volantis-latest:
      class: group
      display: [desktop, mobile] # [desktop, mobile]
      seo_title: Volantis
      header:
        icon: fa fa-book
        title: Document navigation v5.0

    # qrcode widget
    qrcode:
      class: qrcode
      display: [desktop] # [desktop, mobile]
      header:
        icon: fas fa-mobile
        title: Mobile watch
      height: #64px  # Automatic height if not set
      fancybox: #true
      images:
        - https://cdn.jsdelivr.net/gh/volantis-x/cdn-org/blog/qrcode/github@volantis.png

    help:
      class: page
      display: [desktop, mobile]
      header:
        icon: fas fa-headset
        title: Help
      pid: faq
      content: excerpt # excerpt, more, content

    news:
      class: list
      display: [desktop, mobile] # [desktop, mobile]
      header:
        icon: fas fa-exclamation-triangle
        title: Recent announcement
      rows:
        - name: Updates on themes and documents
          icon: fas fa-info-circle
          url: https://github.com/volantis-x/hexo-theme-volantis/issues/215
        - name: Upgrade Assistant
          icon: fas fa-angle-double-up
          url: /getting-started/#new-version-update

    docs-v2:
      class: group
      display: [desktop, mobile] # [desktop, mobile]
      header:
        icon: fad fa-list-alt
        title: Document navigation v2

    docs-v3:
      class: group
      display: [desktop, mobile] # [desktop, mobile]
      header:
        icon: fad fa-list-alt
        title: Document navigation v3

    docs-v4:
      class: group
      display: [desktop, mobile] # [desktop, mobile]
      header:
        icon: fad fa-list-alt
        title: Document navigation v4

    docs-latest:
      class: group
      display: [desktop, mobile] # [desktop, mobile]
      header:
        icon: fad fa-book
        title: Document navigation v5.0



site_footer:
  layout: [aplayer, social, copyright]
  copyright: '[Copyright © 2017-2021 Volantis Team](https://github.com/volantis-x/)'
  social:
    - img: https://cdn.jsdelivr.net/gh/volantis-x/cdn-org@1.1/icon/1322024-social-media/020-rss.svg
      url: atom.xml
    - img: https://cdn.jsdelivr.net/gh/volantis-x/cdn-org@1.1/icon/1322024-social-media/029-github.svg
      url: https://github.com/volantis-x/
    - img: https://cdn.jsdelivr.net/gh/volantis-x/cdn-org@1.1/icon/1322024-social-media/010-facebook.svg
      url: /
    - img: https://cdn.jsdelivr.net/gh/volantis-x/cdn-org@1.1/icon/1322024-social-media/018-twitter.svg
      url: /
    - img: https://cdn.jsdelivr.net/gh/volantis-x/cdn-org@1.1/icon/1322024-social-media/045-telegram.svg
      url: /
    - img: https://cdn.jsdelivr.net/gh/volantis-x/cdn-org@1.1/icon/1322024-social-media/006-youtube.svg
      url: /
  analytics: >
    <span id="lc-sv">The total number of visits to this site is <span id='number'><i class="fas fa-circle-notch fa-spin fa-fw" aria-hidden="true"></i></span> times</span>
    <span id="lc-uv">The number of visitors is <span id='number'><i class="fas fa-circle-notch fa-spin fa-fw" aria-hidden="true"></i></span></span>


tag_plugins:
  # {% note text %}
  note: # style for default note:
    iconfont: 'Font Awesome 5 Pro'

plugins:
  issues:
    enable: true
  clipboard:
    enable: true
  fontawesome: https://cdn.jsdelivr.net/gh/volantis-x/cdn-fontawesome-pro@master/css/all.min.css
  backstretch:
    enable: #true
    position: cover       # cover: sticky on the cover.   fixed: Fixed as background for the site.

  parallax:
    enable: true
    images:               # For personal use only. At your own risk if used for commercial purposes !!!
      # 尺寸一致图片测试
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/001.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/002.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/003.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/004.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/005.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/006.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/007.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/008.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/009.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/010.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/011.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/012.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/013.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/014.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/015.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/016.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/017.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/018.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/019.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/020.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/021.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/022.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/023.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/024.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/025.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/026.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/027.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/028.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/029.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/030.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/031.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/032.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/033.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/034.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/035.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/036.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/037.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/038.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/039.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/040.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/041.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/042.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/043.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/044.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/045.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/046.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/047.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/048.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/049.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/050.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/051.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/052.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/053.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/054.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/055.jpg
      - https://cdn.jsdelivr.net/gh/volantis-x/cdn-wallpaper-minimalist/2020/056.jpg
      # 尺寸不一致图片测试
      # - https://cdn.jsdelivr.net/gh/Linhk1606/md-wallpaper@0.0.1/city_illustration_2-wallpaper-1920x1080.jpg
      # - https://cdn.jsdelivr.net/gh/Linhk1606/md-wallpaper@0.0.1/city_sunset_illustration-wallpaper-1920x1080.jpg
      # - https://cdn.jsdelivr.net/gh/Linhk1606/md-wallpaper@0.0.1/firewatch_flat_landscape-wallpaper-1920x1080.jpg
      # - https://cdn.jsdelivr.net/gh/Linhk1606/md-wallpaper@0.0.1/Late%20night%20bridge.png
      # - https://cdn.jsdelivr.net/gh/Linhk1606/md-wallpaper@0.0.1/love_nature_4-wallpaper-1920x1080.jpg
      # - https://cdn.jsdelivr.net/gh/Linhk1606/md-wallpaper@0.0.1/material-wallpaper-1920x1080.jpg
      # - https://cdn.jsdelivr.net/gh/Linhk1606/md-wallpaper@0.0.1/nice_illustration-wallpaper-1920x1080.jpg
      # - https://cdn.jsdelivr.net/gh/Linhk1606/md-wallpaper@0.0.1/purple_mountain-wallpaper-1920x1080.jpg
      # - https://cdn.jsdelivr.net/gh/Linhk1606/md-wallpaper@0.0.1/space_colonization-wallpaper-1920x1080.jpg
      # - https://cdn.jsdelivr.net/gh/Linhk1606/md-wallpaper@0.0.1/train_travel_illustration-wallpaper-1920x1080.jpg
      # - https://cdn.jsdelivr.net/gh/Linhk1606/md-wallpaper@0.0.1/USjTcy41nvs8qeW.jpg
      # - https://cdn.jsdelivr.net/gh/Linhk1606/md-wallpaper@0.0.1/vector_landscape_1.svg
      # - https://cdn.jsdelivr.net/gh/Linhk1606/md-wallpaper@0.0.1/vector_landscape_2.svg
      # - https://cdn.jsdelivr.net/gh/Linhk1606/md-wallpaper@0.0.1/vector_landscape_3.svg
      # - https://cdn.jsdelivr.net/gh/Linhk1606/md-wallpaper@0.0.1/wolf_howling_at_the_moon-wallpaper-1920x1080.jpg

  aplayer:
    enable: true
    autoplay: true
    volume: 0.4
    order: random
    # id: 4917530132 # vol red
    # id: 4917524698 # vol blue
    # id: 76244489 # vol white
    id: 5135845906 # for Volantis 3.0
    # id: 5062959861 # TOP 30
  darkmodejs:
    enable: true
  scrollreveal:
    enable: true
  comment_typing:
    enable: true

analytics: false

style:
  font_smoothing: true
  navbar:
    effect: [shadow, floatable, blur] # [shadow, floatable, blur]
  sidebar:
    effect: [shadow, floatable, blur] # [shadow, floatable, blur]
  body:
    effect: [shadow, floatable, blur] # [shadow, floatable, blur]

# Customize the right-click menu
rightmenu:
  enable: true
  # hr: dividing line, music: music controller
  layout: [home, help, examples, contributors, hr, source_docs, source_theme, hr, print, hr, darkmode, hr, music]
  # Optional function item
  print:
    name: print page
    icon: fa fa-print
    onclick: document.execCommand('print')
  # The format of the custom menu is as follows
  help:
    name: FAQ
    icon: fa fa-question
    url: /faqs/
  examples:
    name: sample blog
    icon: fa fa-rss
    url: /examples/
  contributors:
    name: Join the community
    icon: fa fa-fan fa-spin
    url: /contributors/
  source_docs:
    name: site source code
    icon: fa fa-code-branch
    url: https://github.com/volantis-x/volantis-x.github.io
  source_theme:
    name: theme source code
    icon: fa fa-code-branch
    url: https://github.com/volantis-x/hexo-theme-volantis/
  darkmode:
    name: Dark mode
    white: fal fa-sun
    dark: fal fa-moon
    toggle: darkmode
